{{extend 'layout.html'}}
{{pledgeForBoot = dict()}}
{{bootTitleForID = dict()}}
{{for item in pledges:}}
    <!-- Build up pledges for each bootable-->
    {{pledgeIDs = pledgeForBoot.get(item.Bootables.id, [])}}
    {{bootTitleForID[item.Bootables.id] = item.Bootables.Title}}
    {{pledgeIDs += [item]}}
    {{pledgeForBoot[item.Bootables.id] = pledgeIDs}}
{{pass}}
<div class="details home">
    {{=LEGEND('User Info')}}
    <dl class="dl-horizontal">
        <dt>Username</dt>
        <dd>{{=user.Users.Username}}</dd>
        <dt>First Name</dt>
        <dd>{{=user.Users.FirstName}}</dd>
        <dt>Last Name</dt>
        <dd>{{=user.Users.LastName}}</dd>
        <dt>Email</dt>
        <dd>{{=user.Users.Email}}</dd>
        <dt>Date of Birth</dt>
        <dd>{{=user.Users.DateOfBirth}}</dd>
    </dl>
</div>
<div class="details home">
    {{=LEGEND('Address')}}
    <dl class="dl-horizontal">
        <dt>Street Address</dt>
        <dd>{{=user.Addresses.StreetAddress}}</dd>
        <dt>City</dt>
        <dd>{{=user.Addresses.City}}</dd>
        <dt>Country</dt>
        <dd>{{=user.Addresses.Country}}</dd>
        <dt>Post Code</dt>
        <dd>{{=user.Addresses.PostCode}}</dd>
    </dl>
</div>
<div class="details home">
    {{=LEGEND('Credit Card')}}
    <dl class="dl-horizontal">
        <dt>Card Number</dt>
        <dd>{{=user.CreditCards.CardNumber}}</dd>
        <dt>Expiry Date</dt>
        <dd>{{=user.CreditCards.ExpiryDate}}</dd>
        <dt>Card ID Code</dt>
        <dd>{{=user.CreditCards.IDCode}}</dd>

        {{if cardAddress.id != user.Users.addressID:}}
            {{=H5('Billing Address:')}}
            <dt>Street Address</dt>
            <dd>{{=cardAddress.StreetAddress}}</dd>
            <dt>City</dt>
            <dd>{{=cardAddress.City}}</dd>
            <dt>Country</dt>
            <dd>{{=cardAddress.Country}}</dd>
            <dt>Post Code</dt>
            <dd>{{=cardAddress.PostCode}}</dd>
        {{else:}}
            <dt>Billing Address</dt>
            <dd>Same as home address</dd>
        {{pass}}
    </dl>
</div>
<div class="rewards">
    {{=LEGEND(H3('Pledges made to Bootables and their Expected Rewards'))}}

    {{for item in pledgeForBoot:}}
        <div class="details home">
            {{ps = pledgeForBoot[item]}}
            {{rewardsForPledge = dict()}}
            {{for pledge in ps:}}
                {{reward = rewardsForPledge.get(pledge.Pledges.id, [pledge.Pledges.Name, pledge.Pledges.Value, []])}}
                {{reward[2] = reward[2] + [pledge.Rewards.Description]}}
                {{rewardsForPledge[pledge.Pledges.id] = reward}}
            {{pass}}

            {{=LEGEND(A(bootTitleForID[item], _href=URL('default', 'view', args=[item])))}}
            {{for pledgeID in rewardsForPledge:}}
                {{item = rewardsForPledge[pledgeID]}}
                    <dl class="dl-horizontal">
                        <dt>Pledge Name</dt>
                        <dd>{{=item[0]}}</dd>
                        <dt>Pledge Value</dt>
                        <dd>£{{=item[1]}}</dd>
                        {{i = 1}}
                        {{for reward in item[2]:}}
                            {{if i == 1:}}
                                <dt>Rewards</dt>
                                {{i += 1}}
                            {{pass}}
                            <dd>{{=reward}}</dd>
                        {{pass}}
                    </dl>
                {{pass}}
         </div>
    {{pass}}
</div>