<!-- A Div containing a brief sumary of a bootables information and a link to the bootables page-->
<div class="details home">
    {{=LEGEND(A(bootable.Title, _href=URL('view', args=[bootable.id])))}}
    <dl class="dl-horizontal">
        <dt>Description</dt>
        <dd>{{=bootable.ShortDescription}}</dd>
        <dt>Category</dt>
        <dd>{{=bootable.Category}}</dd>
        <dt>Goal</dt>
        <dd>£{{=bootable.FundingGoal}}</dd>
        <dt>Total Pledged</dt>
        <dd>£{{=totals[bootable.id]}}</dd>
        <dt>Percentage Complete</dt>
        <dd>{{=percent[bootable.id]}}%</dd>
    </dl>
</div>