{{extend 'layout.html'}}
{{pledgeForBoot = dict()}}
{{for item in pledges:}}
    {{# Build up pledges for each bootable}}
    {{pledgeIDs = pledgeForBoot.get(item.Bootables.id, [])}}
    {{pledgeIDs += [item]}}
    {{pledgeForBoot[item.Bootables.id] = pledgeIDs}}
{{pass}}

<div class="alert alert-info">
        Bootables are editable only when they are in the state <b>Not Available</b>.
</div>

{{for bootable in bootables:}}
    <div class="bootable">
        {{delButton = A('Delete', _href=URL('delete', args=[bootable.id]), _type='button', _class='btn btn-danger pull-right bootButton')}}
        {{#Depending on the state of the bootable add buttons allowing user interaction}}
        {{if bootable.State == bootableStates[0]:}}
            {{edit = A('Edit', _href=URL('edit', args=[bootable.id]), _type='button', _class='btn btn-primary pull-right bootButton')}}
            {{delete = delButton}}
            {{addPledge = A('Add Pledge', _href=URL('createPledges', args=[bootable.id]), _class='btn btn-primary pull-right bootButton')}}
        {{else:}}
            {{edit = ''}}
            {{delete = ''}}
            {{addPledge = ''}}
            {{if bootable.State != bootableStates[0]:}}
                {{delete = delButton}}
            {{pass}}
        {{pass}}
        {{=LEGEND(H2(A(bootable.Title, _href=URL('default', 'view', args=[bootable.id])), addPledge, edit, delete))}}
        <div class="dashImage">
            {{#The bootable image, links to edit if appropriate}}
            {{if bootable.State == bootableStates[0]:}}
                {{=A(images[bootable.id], _href=URL('upload', args=[bootable.id]))}}
                {{=A(DIV(H3('Click to upload new image'), _class='dashImageCaption'), _href=URL('upload', args=[bootable.id]), _class='imageLink')}}
            {{else:}}
                {{=images[bootable.id]}}
            {{pass}}
        </div>
        <div class="details">
            <dl class="dl-horizontal">
                <dt>Short Description</dt>
                <dd>{{=bootable.ShortDescription}}</dd>
                <dt>Funding Goal</dt>
                <dd>£{{=bootable.FundingGoal}}</dd>
                <dt>Total Pledged</dt>
                <dd>£{{=totals[bootable.id]}}</dd>
                <dt>Percent Complete</dt>
                <dd>{{=percents[bootable.id]}}%</dd>
                <dt>Category</dt>
                <dd>{{=bootable.Category}}</dd>
                <dt>State</dt>
                <dd>{{=bootable.State}}</dd>
            </dl>

            {{#Form for changin the state of the bootable}}
            {{if bootable.State in bootableStates[:2]:}}
                <div class="center">
                    {{=stateForms[bootable.id]}}
                </div>
            {{pass}}
        </div>
        <div class="rewards">
            {{#Display the pledges with their rewards}}
            {{ps = pledgeForBoot.get(bootable.id)}}
            {{if ps is not None:}}

                {{#Build the list of rewards for the pledge}}
                {{rewardsForPledge = dict()}}
                {{for pledge in ps:}}
                    {{reward = rewardsForPledge.get(pledge.Pledges.id, [pledge.Pledges.Name, pledge.Pledges.Value, []])}}
                    {{reward[2] = reward[2] + [pledge.Rewards.Description]}}
                    {{rewardsForPledge[pledge.Pledges.id] = reward}}
                {{pass}}

                {{=LEGEND('Pledges')}}
                {{#Display pledges with their rewards}}
                {{for pledgeID in rewardsForPledge:}}
                    {{item = rewardsForPledge[pledgeID]}}
                    <div class="details">
                        {{if bootable.State == bootableStates[0]:}}
                            {{edit = A('Edit', _href=URL('editPledge', args=[pledgeID]), _type='button', _class='btn btn-primary pull-right')}}
                            {{delete = A('Delete', _href=URL('deletePledge', args=[pledgeID]), _type='button', _class='btn btn-danger pull-right')}}
                        {{else:}}
                             {{edit = ''}}
                             {{delete = ''}}
                        {{pass}}
                        {{=H4(item[0], DIV(edit, delete))}}
                        <dl class="dl-horizontal">
                            <dt>Pledge Value</dt>
                            <dd>£{{=item[1]}}</dd>
                            {{i = 1}}
                            {{for reward in item[2]:}}
                                {{if i == 1:}}
                                    <dt>Rewards</dt>
                                    {{i += 1}}
                                {{pass}}
                                <dd>{{=reward}}</dd>
                            {{pass}}
                        </dl>
                    </div>
                {{pass}}
            {{pass}}
        </div>

        <div class="long-details">
            {{=LEGEND('Long Description')}}
            {{=DIV(bootable.LongDescription)}}
        </div>
        <div class="long-details">
            {{=LEGEND('Personal Story')}}
            {{=DIV(bootable.PersonalStory)}}
        </div>
    </div>
{{pass}}