/* author = Y8191122*/

.form-inline * {
    margin-top: 5px;
    margin-right: 5px;
}

#searchForm {
    margin-bottom: 0px;
}

.navbar-inner {
    align-self: center;
}

.dashImageCaption {
    background: white;
    opacity: 0.75;
    margin-top: -54px;
    text-align: center
    position: relative;
    width:100%;


}

.dashImage {
    float:left;
    margin:0 auto;
    text-align:center;
    width: 50%;
}

.viewImage {
    margin:0 auto;
    text-align:center;
    width: 100%;
}

.viewImage img{
    width: 100%
}

.details {
    float: left;
    width: 49%;
    margin-left: 1%;
}

.home{
    width: 32%;
    margin-left: 1%;
    min-height: 350px;
}

.details form {
    width: 100%;
}

.top5{
    clear: both
}

.rewards .details{
    width: 32%;
    min-height: 250px;
}

.bootButton {
    margin-left: 2px;
}

.imageLink {
    color: #000000;
}

.imageLink:link {
    color: black;
    text-decoration: none;
}

.long {
    text-align: justify;
    text-justify: inter-word;
}

.bootable .rewards {
    clear: both;
}

